<h1>Question state</h1>

<h2>Topic and Question Numbers</h2>
<table class="table table-striped" style="max-width: 300px">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Topic</th>
    <th>Question</th>
  </tr>
  </thead>
  <tbody></tbody>
  <tr>
    <th>Current</th>
    <% if @question.topic != Question::COMPLETED_VALUE %>
      <td><%= @question_state.topic %></td>
      <td><%= @question_state.question %></td>
    <% else %>
      <td colspan="2">
        <div class="completed">Completed</div>
      </td>
    <% end %>
  </tr>
  <tr>
    <th>Next</th>
    <% if @question.topic != Question::COMPLETED_VALUE %>
      <% if @next_topic != Question::COMPLETED_VALUE %>
        <td><%= @next_topic %></td>
        <td><%= @next_question %></td>
      <% else %>
        <td colspan="2">
          <div class="completed">Completed</div>
        </td>
      <% end %>
    <% else %>
      <td colspan="2">
        <div class="completed">Nothing</div>
      </td>
    <% end %>
  </tr>
  <tr>
    <th>On Server</th>
    <td id="dynTopic"><%= @question.topic != Question::COMPLETED_VALUE ? @question.topic : 'Completed' %></td>
    <td id="dynQuestion"><%= @question.question != Question::COMPLETED_VALUE ? @question.question : 'Completed' %></td>
  </tr>
</table>

<hr>
<h2>Actions</h2>
<%= render partial: 'next_buttons' %>
