<h1>Question state</h1>

<h2>Topic and Question Numbers</h2>
<table class="table table-striped" style="max-width: 300px">
  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Topic</th>
    <th>Question</th>
  </tr>
  </thead>
  <tbody></tbody>
  <tr>
    <th>Current</th>
    <td><%= @question_state.topic %></td>
    <td><%= @question_state.question %></td>
  </tr>

  <tr>
    <th>Next</th>
    <td><%= @next_topic %></td>
    <td><%= @next_question %></td>
  </tr>
</table>

<hr>
<h2>Actions</h2>
<%= render partial: 'next_buttons' %>
